@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1> 
</div>
<style>
    body{
		
		background: 	rgb(128, 128, 128);
	}
    h1{
        color:white;
    }
</style>
